<% layout("/layouts/boilerplate") %>
<div class="row">
  <div
    class="alert alert-danger d-flex align-items-center col-7 offset-2"
    role="alert"
    style="margin-top: 50px"
  >
    <div><%= message %></div>
  </div>
</div>
